<%- include('/layouts/_config') -%>
<% config.meta.title = 'ホーム' %>
<%- include('/layouts/_header') -%>

<div id="company_info" class="container">
    <img src="/images/top_back2.jpg">
    <hr>

    <div id="index_top">
        アダムアップは、お客様の夢の実現の手助け・必要とされているシステム作りを行います。
        皆様の役に立つシステムの提供を目指して。
    </div>

    <h3 id="info">会社情報</h3>
    <hr/>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td>名称</td>
                <td>株式会社アダムアップ　(Adamapp Inc.)</td>
            </tr>
            <tr>
                <td>設立年月日</td>
                <td>2011年11月22日</td>
            </tr>
            <tr>
                <td>資本金</td>
                <td>10,000,000円</td>
            </tr>
            <tr>
                <td>本社所在地</td>
                <td>〒105-0013
                    <br/>
                    東京都港区浜松町２－７ー１６ 第３小森谷ビル別館８階
                </td>
            </tr>
            <tr>
                <td>電話番号</td>
                <td>03-6880-9024</td>
            </tr>
            <tr>
                <td>代表取締役</td>
                <td>小山田　勝</td>
            </tr>
            <tr>
                <td>従業員数</td>
                <td>１３名（２０１６年４月現在）</td>
            </tr>
            <tr>
                <td>取引金融機関</td>
                <td>りそな銀行　五反田支店
                <br>
                東京都民銀行　浜松町支店
                <br>
                三井住友銀行　浜松町支店
                </td>
            </tr>
            <tr>
                <td>登録免許</td>
                <td>労働者派遣事業許可番号　派13-306924</td>
            </tr>
            <tr>
                <td>主要取引先</td>
                <td>株式会社NTTデータテラノス
                    <br/>
                    株式会社ネクストヴィジョン
                    <br/>
                    多摩都市モノレール株式会社
                    <br/>
                    株式会社アルテ
                    <br/>
                    エヌ・エス・ケイ株式会社
                </td>
            </tr>
        </table>
    </div>
    
    <h3 id="message">社長挨拶</h3>
    <div class="well well-lg">
        私が最初にコンピュータにかかわる仕事をしてから早３０年以上経ちました。
        その間にコンピュータシステムの開発技術は目まぐるしく変化をしております。しかしながらシステム開発に携わる者のシステムに対する考え方は不変です。
        言うまでもなく、システムはそれを使う人のためにあります。開発側の都合がむやみに入り込む余地はありません。お客様の要望をできるだけ叶え、お客様にとってより良い方向をご提案する事をモットーとして、私はコンピュータシステムの開発にかかわってまいりました。
        アダムアップの社員は数は少ないですが、全員がシステムを必要としているお客様を最優先に考えて開発をしています。お客様に満足していただく事を一番の喜びとして仕事をしています。
        企業活動としてはマイナスになる事もありますが、長い目で見てお客様に信頼される会社であり続ける事にアダムアップの価値があると考えます。
        <br/>
        <br/>
        <div class="pull-right">
            <div id="sign">
                <div id="sign_1">代表取締役</div>
                <div id="sign_2">
                    <img src="/images/sign.gif">
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>

    <h3 id="business">事業内容</h3>

    
    <h3 id="access">アクセス</h3>
    
    
    <h3 id="recruit">採用情報</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#new" data-toggle="tab">新卒採用</a></li>
        <li><a href="#career" data-toggle="tab">中途採用</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="new">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>募集職種</td>
                        <td>システムエンジニア</td>
                    </tr>
                    <tr>
                        <td>雇用形態</td>
                        <td>正社員</td>
                    </tr>
                    <tr>
                        <td>応募資格</td>
                        <td>高校・高専・専門学校・短大・大学を
                            <br/>
                            2014年3月～2017年3月に卒業された方・卒業見込みの方
                        </td>
                    </tr>
                    <tr>
                        <td>初任給</td>
                        <td>
                            <table id="in-tbl">
                                <tr>
                                    <td>高卒</td>
                                    <td>214,000円</td>
                                </tr>
                                <tr>
                                    <td>短大/専門学校2年制卒</td>
                                    <td>226,000円</td>
                                </tr>
                                <tr>
                                    <td>大卒</td>
                                    <td>241,000円</td>
                                </tr>
                            </table>    
                        </td>
                    </tr>
                    <tr>
                        <td>昇給</td>
                        <td>あり</td>
                    </tr>
                    <tr>
                        <td>賞与</td>
                        <td>あり。2016年度実績 3回</td>
                    </tr>
                    <tr>
                        <td>福利厚生</td>
                        <td>雇用保険　労災保険　健康保険　厚生年金　退職金共済</td>
                    </tr>
                    <tr>
                        <td>勤務時間</td>
                        <td>09：00 ~ 17:45</td>
                    </tr>
                    <tr>
                        <td>休日・休暇</td>
                        <td>週休二日制（土・日）
                            <br/>
                            祝日、夏季休暇３日、年末年始休暇１２/２９～１/３、有給休暇
                        </td>
                    </tr>
                    <tr>
                        <td>採用の<br/>お問い合わせ</td>
                        <td>会社説明会を随時実施しております。お気軽にお問合せください。</td>
                    </tr>
                </table>
            </div>
            <h4>新卒入社社員の声</h4>
            <div class="mesage-new">
                <figure class="mes-img-left">
                    <img src="/images/favicon.ico" alt="">
                    <figcaption class="mes-img-description">
                        Y・Kさん
                    </figcaption>
                </figure>
                <div class="mes-text-right">
                    <p class="mes-text">2017年新卒入社　Ｙ・Ｋさん</p>
                    <p class="mes-text">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="career">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>募集職種</td>
                        <td>システムエンジニア</td>
                    </tr>
                    <tr>
                        <td>雇用形態</td>
                        <td>正社員</td>
                    </tr>
                    <tr>
                        <td>仕事の内容</td>
                        <td>主に客先に常駐し、WindowsあるいはUNIX環境におけるシステム開発をしていただきます。
                            <br/>
                            使用する言語は、Java、.NET C#、VB.NETなどです。
                            <br/>
                            経験に応じてプログラム開発やシステム設計をしていただきます。
                            <br/>
                            お客様とコミュニケーションをとることも必要とします。
                        </td>
                    </tr>
                    <tr>
                        <td>必要な経験など</td>
                        <td>Java、あるいはそれ以外のオブジェクト指向言語実務経験1年半以上 </td>
                    </tr>
                    <tr>
                        <td>給与</td>
                        <td>248,000円　～　442,000円</td>
                    </tr>
                    <tr>
                        <td>昇給</td>
                        <td>あり</td>
                    </tr>
                    <tr>
                        <td>賞与</td>
                        <td>あり。2016年度実績 3回</td>
                    </tr>
                    <tr>
                        <td>福利厚生</td>
                        <td>雇用保険　労災保険　健康保険　厚生年金　退職金共済</td>
                    </tr>
                    <tr>
                        <td>勤務時間</td>
                        <td>09：00 ~ 17:45</td>
                    </tr>
                    <tr>
                        <td>休日・休暇</td>
                        <td>週休二日制（土・日）
                            <br/>
                            祝日、夏季休暇３日、年末年始休暇１２/２９～１/３、有給休暇
                        </td>
                    </tr>
                </table>
            </div>
        </div> 
    </div>
<!--    
    


    -->
</div>

<!--<div id="home" class="container">
    <h1>Home</h1>
    <h2>Page Sample</h2>
    <ul>
        <li><a href="/pages/holy_grail.html">聖杯レイアウト</a></li>
        <li><a href="/pages/contact_form/index.html">お問い合わせフォーム</a></li>
    </ul>
</div>
-->

<%- include('/layouts/_footer') -%>
