        </main>
        <footer class="footer">
            <div id="#mail">
                お問合せはこちらから
            </div>
            <div class="container">
                Copyright©2012 Adamapp Inc.
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="/js/app.js<%= '?ver=' + config.assets.app.js.updated_at %>"></script>
</body>
</html>
